
.backgroud-layaout {
    background-color: brown;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20% 0 0 0;
}
